
GabeColle/Debug/
GabeColle/Release/
GabeColle/GabeColle.opensdf
GabeColle/GabeColle.sdf
GabeColle/GabeColle.sln
GabeColle/GabeColle.v12.suo

GabeColle/GabeColle/Debug/
GabeColle/GabeColle/Release/
GabeColle/GabeColle/GabeColle.vcxproj
GabeColle/GabeColle/GabeColle.vcxproj.filters
GabeColle/GabeColle/GabeColle.vcxproj.user
#GabeColle/GabeColle/GabeColle_log.html

*_log.html